/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Protest+Riot&family=Signika+Negative:wght@300..700&display=swap');

/* Footer*/
body {
    background-image: url(image/fondo001.jpg);
    margin: 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    text-align: center;
    color: #fdf0d5;
}

.b-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.signika {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pr-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fzm{
    font-size: 23px;
}

.color {
    color: #FBC4AB;
}

.grey {
    color: #6D6875
}

/*Contenedor 1*/
.Contenedor1{
    text-align: center;
}
.Contenedor1 h1{
    font-size: 45px;
    margin-top: 100px;
}
.Contenedor1 h2{
    margin-bottom: 100px;
}
.Contenedor1 h2:hover{
    color: white;
}
/*Contenedor 2*/
.Contenedor2{
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
}
.container {
    text-align: center;
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
.container h1{
    font-size: 40px;
    color: #B5838D
}
.container h1:hover{
    color: white
}
.mensaje {
    color: #F08080;
    width: 570px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 3s ease;
    opacity: 0;
    
    /*border-radius: 15px;*/
}
.startend{
    border-start-start-radius: 15px;
    border-end-end-radius: 15px
}
.leftradius
{
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    border-right: 10px #B5838D solid;
}

.rightradius
{
    border-start-end-radius: 15px;
    border-end-end-radius: 15px;
    border-left: 10px #B5838D solid;
}

.endstart{
    border-end-start-radius: 15px;
    border-start-end-radius: 15px
}

.left {
    text-align: left;
    justify-content: left;
    transform: translateX(-100%);
}

.right {
    text-align: right;
    justify-content: right;
    transform: translateX(100%);
}

.center {
    text-align: center;
    justify-content: center;
    transform: translateX(0);
}

.animar {
    animation: aparecer 0.5s forwards;
}

.fadeIn {
    display: inline-block;
    animation: fadeInLetter 0.5s ease forwards;
    opacity: 0; /* Inicialmente transparente */
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* image */ 
.img{
    width: 350px;
}

@media screen and (max-width: 768px) {
    .Contenedor1 h1 {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 24px;
    }

    .Contenedor2 {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .mensaje {
        width: auto;
        padding: 10px;
    }

    .img {
        width: 250px;
    }
}
@keyframes fadeInLetter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInWord {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgdefault{
    background-color: rgba(255, 255, 255, 0.7);
}
.bgdefault:hover{
    background-color: rgba(255, 218, 185, 0.7);
}

.leftradius:hover {

    border-right: 10px #6D6875 solid;
}

.rightradius:hover{
    border-left: 10px #6D6875 solid;
}